<ion-view id="tab2" hide-nav-bar="false">
    <ion-content padding="true" class="has-header">
      <div flex="100" layout="row" layout-wrap layout-align="center start">
        <md-card ng-repeat="stream in vm.liveCards track by $index" layout="row" flex="90" layout-wrap>
          <jwplayer flex="100" setup="stream.options" ng-if="stream.options.playlist[0].file"></jwplayer>
          <div flex="100" layout-padding layout="row" layout-align="start center">
            <div flex="50" layout="row" flex="100" layout-wrap>
              <div flex="20"> <span class="icon ion-camera"></span> </div>
              <div flex="80"> <span>Camera</span> </div>
              <div flex="100" layout="row">
                <div flex="20"></div>
                <div flex="80"> <span>{{stream.camera}}</span> </div>
              </div>
            </div>
          </div>
        </md-card>
      </div>
    </ion-content>
</ion-view>
