<ion-view id="login" hide-nav-bar="true">
    <ion-content padding="true" class="has-no-header login-view" layout-fill>
        <div layout="row" layout-fill flex="100" layout-wrap layout-align="start center">
          <div flex="100" layout="row" layout-align="center center" class="logo-container">
              <div class="logo-area" flex="60"></div>
          </div>
          <div flex="100" layout="row" layout-align="center start" layout-padding class="form-section">
            <form id="login-form1" class="list" flex="80">
                <ion-list id="login-list1">
                    <label class="item item-input" id="login-input1">
                        <span class="icon ion-person"></span>
                        <input type="text" placeholder="Username" required ng-model="vm.user.username">
                    </label>
                    <label class="item item-input" id="login-input2">
                        <span class="icon ion-locked"></span>
                        <input type="password" placeholder="Password" ng-model="vm.user.password "required>
                    </label>
                </ion-list>
                <div class="spacer" style="height: 40px;"></div>
                <button id="login-button1" ng-click="vm.submit()" class="button button-stable  button-block">Log in</button>
            </form>
          </div>
        </div>
    </ion-content>
</ion-view>
<!-- hide-nav-bar="true" -->
