<ion-view id="page2" hide-nav-bar="false">
    <ion-content padding="false" class="has-header">
        <!-- the date filter will go over here -->
        <div layout="row" flex="100" layout-wrap layout-align="center start">
          <md-card flex="90" layout-padding layout="row">
              <div flex="10" layout="row" layout-align="center center" ng-click="vm.changeDate('prev')">
                <span class="icon ion-ios-arrow-back"></span>
              </div>
              <div flex="80" layout="row" layout-align="center center">
                {{vm.date}}
              </div>
              <div flex="10" layout="row" layout-align="center center" ng-click="vm.changeDate('next')">
                <span class="icon ion-ios-arrow-forward"></span>
              </div>
          </md-card>
          <md-card ng-repeat="stream in vm.streamTabs.streams" layout="row" flex="90" layout-wrap>
            <jwplayer setup="stream.options" ng-if="stream.options.playlist[0].file" flex="100"></jwplayer>
            <div flex="100" layout-padding layout="row" layout-align="start center">
              <div flex="50" layout="row" flex="100" layout-wrap>
                <div flex="20"> <span class="icon ion-clock"></span> </div>
                <div flex="80"> <span>Date and time</span> </div>
                <div flex="100" layout="row">
                  <div flex="20"></div>
                  <div flex="80"> <span>{{stream.time}}</span> </div>
                </div>
              </div>
              <div flex="50" layout="row" layout-wrap>
                <div flex="80" layout="row" layout-align="end center"> <span>Camera</span> </div>
                <div flex="20" layout="row" layout-align="end center">
                  <span class="icon ion-camera"></span>
                </div>
                <div flex="100" layout="row">
                  <div flex="80" layout="row" layout-align="end center">
                    <span>{{vm.camera}}</span>
                  </div>
                  <div flex="20">
                  </div>
                </div>
              </div>
            </div>
          </md-card>
        </div>
    </ion-content>
</ion-view>
