<div layout="row" layout-wrap layout-align="start start" flex="100">
  <div layout="row" flex="100" ng-repeat="category in categories">
    <span ng-click="goToCamera(category)">{{category.TITLE}}</span>
  </div>
</div>
