<ion-side-menus enable-menu-with-back-views="true" ng-controller="sidebarCtrl">
  <ion-side-menu side="left">
    <div layout="row" layout-wrap layout-align="start start" flex="100" class="sidebar">
      <div flex="100" class="dummy-header platform-cordova platform-ios"></div>
      <div layout="row" flex="100" ng-repeat="category in categories" class="category"
        ng-class="{'category-active': isActive(category), 'category': !isActive(category)}" ng-click="goToCamera(category)">
        <span layout-padding>{{category.TITLE}}</span>
      </div>
    </div>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-nav-bar class="navbar" ng-controller="sidebarCtrl">
      <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button ng-click="toggleLeftSideMenu()" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-title>
        <div layout="row" layout-align="center center" flex="100">
          <div class="nwatch-header"></div>
          <span>&nbsp NWATCH</span>
        </div>
      </ion-nav-title>
      <ion-nav-buttons side="right">
      <!-- Toggle left side menu -->
        <div layout="row" layout-align="center center" flex="100" layout-padding>
          <span type="button" ng-click="signout()" class="icon ion-android-exit"></span>
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-view id="page1">
        <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
            <ion-tab title="Recorded" icon="ion-ios-camera" ui-sref="video.recordings" id="tabsController-tab1">
                <ion-nav-view name="recordings"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Live" icon="ion-videocamera" ui-sref="video.live" id="tabsController-tab2">
                <ion-nav-view name="live"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-view>
  <!-- Main content, usually <ion-nav-view> -->
  </ion-side-menu-content>
</ion-side-menus>
