/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "recorded";
@import "colors";
@import "login";
@import "sidebar";


.pane {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+1,ffffff+100 */
  background: rgb(246,246,246); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(246,246,246,1) 1%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(246,246,246,1) 1%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(246,246,246,1) 1%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


}

// Global styling for slider on the top
.slider-pager {
  top: 0px;
  right:8px;
  width:auto;
}
.slider-slides {
  margin-top:20px;
}

// Global styling for md-tabs
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
  color: #000;
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background-color: #2c98f0;
}
md-tabs-wrapper md-next-button {
  display: none;
}
md-tabs-wrapper md-prev-button {
  display: none;
}
md-tabs-canvas.md-paginated {
  margin: 0px !important;
}
.bar .title {
  height: 50px;
  line-height: 50px;
  background-image: none !important;
}
.bar {
  background: $blue !important;
  color: white;
  font-weight: normal;
}
.has-no-header {
  top:0px !important;
  ion-content {
    top:0px !important;
  }
}
.bar .button.button-icon, .bar button.button-icon {
  color: white;
}
.nwatch-header {
  background-image: url('../img/logo-small.png');
  width:30px;
  height:40px;
  background-size: 30px auto;
  background-position: center;
  background-repeat: no-repeat;
}
