@import "colors";
.login-view{

  min-height: 100%;
  .padding {
    height: 100%;
    padding: 0px !important;
  }
  .logo-container {
    height: 40%;

    .logo-area {
        background-image: url('../img/nwatch-logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
    }
  }
  .form-section {
      background-color: $blue;
      height: 60%;

      #login-list1 {
          .item-input {
            margin: 6px 0px !important;
            border-radius: 3px;

              input {
                padding-left: 10px;
              }
              input:-webkit-autofill {
                  -webkit-box-shadow: 0 0 0px 1000px white inset;
              }
          }
      }
  }
  #login-button1 {
    background-color: $orange !important;
    color: white;
    text-transform: uppercase;
  }
}
