@import "colors";
.stream-card {
  min-height:100px;
  border-radius: 0px 0px 2px 2px;
  margin: 2px 0px;

  .card-play {
    font-size:28px;
    color: white;
  }
}
.recording-bottom-stream{
  padding: 0px !important;
  .recording-bottom-card {
    margin:0px !important;
    padding: 0px !important;
  }
}
// For the night card layout
.class-night {
  border-top: 4px solid #2c98f0;

  .camera-title {
    color: #000;
    font-weight: bold;
  }
  .camera-description {
    color: #000;
  }
  .card-play {
    font-size:28px;
    color: #2c98f0;
  }
}
// For the morning card layout
.class-morning {
  border-top: 4px solid #f1453d;
  .camera-title {
    color: #000;
    font-weight: bold;
  }
  .camera-description {
    color: #000;
  }
  .card-play {
    font-size:28px;
    color: #f1453d;
  }
}
// For the day card layout
.class-day {
  border-top: 4px solid #fd9727;
  .camera-title {
    color: #000;
    font-weight: bold;
  }
  .camera-description {
    color: #000;
  }
  .card-play {
    font-size:28px;
    color: #fd9727;
  }
}
// For the evening card layout
.class-evening {
  border-top: 4px solid #8cc152;
  .camera-title {
    color: #000;
    font-weight: bold;
  }
  .camera-description {
    color: #000;
  }
  .card-play {
    font-size:28px;
    color: #8cc152;
  }
}
.tabs-stable > .tabs, .tabs.tabs-stable {
  background-color: $orange;
  color: white;
}
.icon {
  font-size: 20px;
}
