@import "colors";
.sidebar {
  color: #fff;
  font-size: 14px;
  .category {
    background-color: #fff;
    color: #989898;
  }
}
.category {
    background-color: #fff;
    width:100%;
    cursor: pointer;
    border-top: 1px solid #f3f3f3;
      &:last-child {
          border-bottom: 1px solid #f3f3f3;
      }
}
.dummy-header {
    height: 45px;
    background-color: $blue;
}
.category-active {
    background-color: $orange;
    cursor: pointer;
    border-top: 1px solid #f3f3f3;
      &:last-child {
          border-bottom: 1px solid #f3f3f3;
      }
}
ion-side-menu {
  background-color: #f9f9f9 !important;
}
